#heading
{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #000000;
    font-size: 72px;
}

body > p
{
	text-align: center;
	color: #0000AA;
	margin-left: 100px;
	margin-right: 100px;
}

.buttonHolder
{
    height: 20px;
    font-size: 12px;
    margin-bottom: 10px;
	text-align: center;
}

.cell
{
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 5px;
	margin-right: 5px;
    margin-top: 0px;
    background: #efefef;
    box-sizing: border-box;
}

#gameBoard
{
	cursor: crosshair;
	margin-left: auto;
	margin-right: auto;
	width: 0px;
	text-align: center;
	padding: 5px;
	/*width: 1000px;
	margin-left: 100px;*/
}
