#heading
{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #000000;
    font-size: 72px;
}

#desc
{
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
}

body > p
{
	text-align: center;
	color: #0000AA;
	margin-left: 100px;
	margin-right: 100px;
}

.buttonHolder
{
    height: 20px;
    font-size: 12px;
    margin-bottom: 10px;
	text-align: center;
}

.cell
{
    display: inline-block;
    color: rgb(0, 112, 187);
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    background: #919191;
    box-sizing: border-box;
    vertical-align: middle;
}

.cell.revealed
{
    background: #e0e0e0;
}

.cell text
{
    margin: 0px;
}

#gameBoard
{
	cursor: crosshair;
	margin-left: auto;
	margin-right: auto;
	width: 0px;
	text-align: center;
	padding: 5px;
}

.safe
{
    background: #00AA00;
}

.mine
{
    background: #AA0000;
}

#gameOverDiv
{
    position: relative;
	margin-left: auto;
    margin-right: auto;
    width: 250px;
    background: #dbdbdb;
    padding: 15px 15px;
	font-size: 18px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 5px;
    z-index: 3;
    transition: all .5s linear;
    opacity: 0;
    border-radius: 3px;
    visibility: hidden;
}

#gameOverDiv.active
{
    opacity: 1;
    visibility: visible;
}
